<div class="flex items-center justify-start">
  <ul class="space-y-4">
    <!-- Facebook -->
    <li>
      <a
        href="https://www.facebook.com/profile.php?id=61571513259432"
        target="_blank"
        class="flex items-center text-gray-700 hover:text-blue-600 transition duration-300"
      >
        <i class="fab fa-facebook text-2xl mr-3"></i>
        <span class="text-lg">Facebook</span>
      </a>
    </li>
    <!-- Twitter -->
    <li>
      <a
        href="https://x.com/Agape_Mate1?s=09"
        target="_blank"
        class="flex items-center text-gray-700 hover:text-blue-400 transition duration-300"
      >
        <i class="fab fa-twitter text-2xl mr-3"></i>
        <span class="text-lg">X (Twitter)</span>
      </a>
    </li>
    <!-- Instagram -->
    <li>
      <a
        href="https://www.instagram.com/agape_mate?igsh=MW9qZzF4ejJsaDZs"
        target="_blank"
        class="flex items-center text-gray-700 hover:text-red-400 transition duration-300"
      >
        <i class="fab fa-instagram text-2xl mr-3"></i>
        <span class="text-lg">Instagram</span>
      </a>
    </li>
  </ul>
</div>
