<div id="pricing" class="bg-pink">
  <div class="container mx-auto py-12 px-4">
    <div class="text-center mb-8">
      <div class="text-xl md:text-2xl">Pricing & plans</div>
      <p class="text-2xl md:text-3xl mt-2 w-full md:w-2/4 mx-auto">
        Let’s know the <span class="text-primary">pricing plan</span> that works
        for you.
      </p>
    </div>
    <div class="flex flex-wrap justify-center items-start md:gap-x-10 gap-y-4">
      <!-- Free Plan -->
      <div
        class="w-full md:w-[26vw] bg-white overflow-hidden rounded-lg md:rounded-xl text-center border border-primary"
      >
        <module
          href="./components/Pricing/planTitle.html"
          locals='{"title": "Free","subText":"0.99"}'
        ></module>

        <ul class="text-left space-y-2 mb-8 p-8 min-h-80">
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> 10 likes per month
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> 10 bookmarks per
            month
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> No ads
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> 10 Monthly chat
            requests.
          </li>
        </ul>
      </div>

      <!-- Diamond Plan -->
      <div
        class="w-full md:w-[26vw] bg-pink overflow-hidden rounded-lg md:rounded-xl text-center border border-primary"
      >
        <module
          href="./components/Pricing/planTitle.html"
          locals='{"title": "Diamond","subText":"2.99"}'
        ></module>

        <ul class="text-left space-y-2 mb-8 p-8 min-h-80">
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Unlimited Likes
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Unlimited bookmarks
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> No ads
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> 20 chat requests.
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> 1 daily match
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Free agape AI
          </li>
        </ul>
      </div>

      <!-- Gold Plan -->
      <div
        class="w-full md:w-[26vw] bg-white overflow-hidden rounded-lg md:rounded-xl text-center border border-primary"
      >
        <module
          href="./components/Pricing/planTitle.html"
          locals='{"title": "Gold","subText":"4.99"}'
        ></module>

        <ul class="text-left space-y-2 mb-8 p-8 min-h-80">
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Unlimited Likes
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Unlimited bookmarks
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> No ads
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Unlimited chat
            request.
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i>Free search
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Unlimited daily match
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i>Top profile feature
          </li>
          <li class="flex gap-3 items-center">
            <i class="fa-solid fa-check text-primary"></i> Free agapeAI support
            matching
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
