<div
  class="mb-6 rounded-xl bg-pink flex gap-x-4 items-center justify-between p-2"
>
  <img
    class="w-24"
    src="https://res.cloudinary.com/dbr3c0f1q/image/upload/f_auto,q_auto/v1/logos/agapemate/djyx5c6wbenp9nbknocc"
    alt="Logo"
  />
  <div class="font-semibold border-2 border-primary bg-gradient-to-b from-gray-200 to-transparent px-2 py-1 rounded-xl">
    <div>{{title}}</div> 
    <div class=" italic text-lg font-normal">$ {{subText}}</div>
        <div class=" italic text-lg font-normal">/ month</div>

  </div>
</div>
