<div class="bg-pink py-6 md:py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-8">
      <div class="text-lg text-gray-700">WHY Luv'r?</div>
      <div class="text-2xl md:text-3xl">
        Our Dating <span class="text-primary">App Benefits</span>
      </div>
    </div>
    <div class="flex flex-wrap justify-center items-center">
      <!-- Privacy -->
      <div class="rounded-lg p-4 md:p-8 text-center w-full md:w-2/6">
        <div
          class="bg-white h-20 w-20 flex items-center justify-center p-4 rounded-xl mx-auto mb-4"
        >
          <i class="fas fa-user-secret text-primary text-2xl"></i>
        </div>
        <div class="text-xl md:text-2xl mb-2">Authentic Connections</div>
        <p class="text-gray-600">
          No more endless swiping. Luv'R helps you connect with real people looking for genuine relationships, whether that’s
          love, friendship, or something in between.
        </p>
      </div>

      <!-- Faith-Driven Connections -->
      <div class="rounded-lg p-4 md:p-8 text-center w-full md:w-2/6">
        <div
          class="bg-white h-20 w-20 flex items-center justify-center p-4 rounded-xl mx-auto mb-4"
        >
          <i class="fas fa-lock text-primary text-2xl"></i>
        </div>
        <div class="text-xl md:text-2xl mb-2">Connect Locally or Globally</div>
        <p class="text-gray-600">
        Whether you're looking to meet someone close by or across the globe, Luv'R lets you choose your connection zone and
        match on your terms.
        </p>
      </div>

      <!-- 24/7 Support -->
      <div class="rounded-lg p-4 md:p-8 text-center w-full md:w-2/6">
        <div
          class="bg-white h-20 w-20 flex items-center justify-center p-4 rounded-xl mx-auto mb-4"
        >
          <i class="fas fa-headset text-primary text-2xl"></i>
        </div>
        <div class="text-xl md:text-2xl mb-2">You’re In Control</div>
        <p class="text-gray-600">
          Choose how and when you want to connect. Whether it’s messaging, voice notes, or video calls—you decide how your journey
          unfolds.
        </p>
      </div>
    </div>
  </div>
</div>
