<footer class="bg-pink p-4 md:p-12">
  <div class="container mx-auto flex flex-wrap justify-between items-start">
    <!-- Brand Description -->
    <div class="w-full md:w-60 space-y-4">
      <img
        src="https://res.cloudinary.com/dbr3c0f1q/image/upload/f_auto,q_auto/v1/logos/agapemate/djyx5c6wbenp9nbknocc"
        alt="Logo"
      />
      <p>Building meaningful connections.</p>
    </div>

    <!-- Company Links -->
    <nav class="w-full md:w-fit space-y-2" aria-label="Footer navigation">
      <h4 class="text-2xl text-primary">Company</h4>
      <ul class="space-y-1">
        <li><a href="/" class="text-gray-600">Home</a></li>
        <li><a href="/#how-it-works" class="text-gray-600">How it works</a></li>
        <li><a href="/contact" class="text-gray-600">Contact</a></li>
        <li>
          <a href="/pages/child-safety/index.html" class="text-gray-600"
            >Child safety</a
          >
        </li>
        <li>
          <a href="/pages/data-deletion/index.html" class="text-gray-600"
            >Data deletion</a
          >
        </li>
        
      </ul>
    </nav>

    <!-- Contact Information -->
    <address class="w-full md:w-fit space-y-2 not-italic">
      <h4 class="text-2xl text-primary">Contact</h4>
      <p>
        <a href="mailto:support@saltechapps.com" class="text-gray-600"
          >support@saltechapps.com</a
        >
      </p>

      <p>+1 (844) 877-1078</p>
      <p>3203 Mcknight East Drive,</p>
      <p>STE 138,</p>
      <p>Pittsburgh, PA 15237</p>
      <p>United States.</p>
    </address>

    <!-- Newsletter Subscription -->
    <div class="w-full md:w-fit mt-4 md:mt-0">
      <h4 class="text-2xl text-primary">Connect with Us</h4>

      <include src="./components/Socials/index.html"></include>
    </div>
  </div>

  <!-- Footer Bottom Section -->
  <div
    class="container mx-auto mt-8 border-t border-primary pt-4 flex justify-between items-center"
  >
    <p>&copy; 2024 Agapemate App. All Rights Reserved.</p>
    <p class="text-sm mt-2">Designed with ❤️ for a loving online community.</p>

    <div>
      <a href="/pages/privacy/index.html" class="text-gray-600"
        >Privacy Policy</a
      >
      &nbsp; | &nbsp;
      <a href="/pages/terms/index.html" class="text-gray-600"
        >Legal Disclaimer</a
      >
    </div>
  </div>
</footer>

<!-- <script  type="module"  src="/assets/js/navbar.js"></script> -->
<script type="module" defer src="/assets/js/index.js"></script>
