<section
  class="carousel-container container py-6 md:py-12 md:px-6 w-full max-w-6xl mx-auto"
>
  <div class="carousel-header text-center mb-5">
    <h2 class="text-xl sm:text-2xl md:text-3xl mb-3">Testimonial</h2>
    <h3 class="text-2xl sm:text-3xl md:text-4xl">
      Our Customer <span class=" text-primary">Testimonials</span>
    </h3>
  </div>
  <!-- Previous Button -->
  <div class="flex justify-between items-baseline relative gap-4">
    <button
      class="bg-primary h-8 w-8 sm:h-10 sm:w-10 rounded-full text-white cursor-pointer border-none text-2xl prev absolute md:left-[-2.5rem] md:top-[22%] left-2 sm:left-4 top-1/2 transform -translate-y-1/2 z-10 md:transform-none"
    >
      &#8249;
    </button>

    <!-- Left Images -->
    <div
      class="carousel-images !hidden md:!flex items-center justify-center gap-4 w-1/3 sm:w-1/4 lg:w-1/5 overflow-hidden"
    >
      <!-- Dynamically insert images here -->
    </div>

    <!-- Testimonial Text -->
    <div
      class="testimonial-text mx-auto flex flex-col items-center justify-center gap-2 text-center w-11/12 sm:w-8/12 lg:w-2/4 transition-opacity duration-300"
    >
      <!-- Dynamically insert text here -->
    </div>

    <!-- Right Images -->
    <div
      class="carousel-images !hidden md:!flex items-center justify-center gap-4 w-1/3 sm:w-1/4 lg:w-1/5 overflow-hidden"
    >
      <!-- Dynamically insert images here -->
    </div>

    <!-- Next Button -->
    <button
      class="bg-primary h-8 w-8 sm:h-10 sm:w-10 rounded-full text-white cursor-pointer border-none text-xl sm:text-2xl next absolute md:right-[-2.5rem] md:top-[22%] right-2 sm:right-4 top-1/2 transform -translate-y-1/2 z-10 md:transform-none"
    >
      &#8250;
    </button>
  </div>
</section>
